@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: azure;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-column: 3;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 4rem;
}

hr {
    border: 1px solid rgb(89, 89, 89);
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.sidebar {
    grid-column: 1;
}

.main-content {
    grid-column-start: 2;
    grid-column-end: 3;
}

.fa-solid {
    margin-right: 0.25rem;
    opacity: 0.75;
}

a {
    color: #0643f8;
    text-decoration: none;
}

a:hover {
    color: #052b9f;
}

.contact-section {
    margin-top: -0.75rem;
    margin-left: 0.5rem;
}

.work-image {
    border-radius: 0.5rem;
    width: 4rem;
    height: auto;
}

.work-time {
    color:#646464;
}

.work-row {
    background-color: #e0e9e9;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 4rem;
    display: flex;
    margin-bottom: 0.5rem;
}

.work-info {
    display: flex;
    flex-direction: column;
    margin-left: 0.75rem;
    margin-top: auto;
    margin-bottom: auto;
}

h4, p, label {
    margin: 0px;
}